* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(27, 25, 24);
}
h1 {
    font-size: 60px;
    text-align: center;
    margin: 60px 0 0 0;
    /* shorthand is top right bottom left*/
    color: rgb(247, 246, 243);
}
h2 {
    font-size: 30px;
    font-weight: bold;
    color: transparent;
   -webkit-text-stroke: 1px rgb(149, 148, 148);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 35px;
    margin: 20px 0 80px 0;
} 
p {
    position: relative;
    font-size: clamp(0.5rem, 2.2vw, 1.4rem);
    margin: 0.5em auto;
    color: white;
}

/*image blocks*/
.image-container {
    position: relative;
    width: 50%;
    margin-bottom: 64px;
}
.image-container img {
    width: 100%;
    display: block;
}
.image-container:nth-of-type(odd) {
    margin-left: 2rem;
    margin-right: auto;
}
.image-container:nth-of-type(even) {
    margin-left: auto;
    margin-right: 2rem;
}

/*text on image*/
.overlay-text {
    position: absolute;
    text-align: justify;
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    display: flex;              
    flex-direction: column;   
    justify-content: center;
    align-items: center;        
    background: rgba(0, 0, 0, 0.5);
    padding: 10%;
    color: rgb(247, 246, 243); 
    /* margin-bottom: 8px; */
    z-index: 1;
}

h6{
    font-size: 12px;
    font-weight: normal;
    margin: 50px 100px 50px 100px;
    color: rgb(136, 134, 131);
}




